{
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"bracketSameLine": true,
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"semi": true,
	"endOfLine": "lf",
	"quoteProps": "as-needed",
	"overrides": [
		{
			"files": ["frontend/src/routes/index.jsx"],
			"options": {
				"printWidth": 300
			}
		}
	]
}
