.event-status {
    border: 1px #cd9703 solid;
    color: #a6784d;
    background-color: #fff9e3;
    transition: 0.1s;
}

.event-status:hover {
    transition: 0.1s;
    border: 1px #b38300 solid;
    background-color: #f7edc8;
}

.navbar {
    padding: 0px;
    border-bottom: 1px var(--color-border) solid;
}
